<link rel="stylesheet" href="/css/partial/header.css" />

<header class="header">
  <nav class="nav">
    <a href="/ssr" class="home">Home</a>

    <a href="/ssr/translate">Перекладач</a>
    <a href="/ssr/alphabet">Алфавіт</a>
    <a href="/ssr/rules">Правила</a>
  </nav>
</header>
