<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Алфавіт</title>
    <link rel="stylesheet" href="/css/translate/alphabet.css" />
  </head>

  <%- include('../partials/header.ejs')%>

  <body>
    <br /><br /><br />
    <h1>Алфавіт</h1>
    <div id="alphabet">
      1. А а (А) 2. А̊  а̊ (Ао) 3. А̄ а̄ (А подовжене) 4. Ӓ̄ ӓ̄ (Ая) 5. Ꙗ ꙗ (А
      йотоване) 6. Ӕ ӕ (Ае) 7. Ә ә (Шва) 8. Ӛ ӛ (Шва м'яке) 9. Ә̄ ә̄ (Шва
      подовжене) 10. Б б (Бе) 11. В в (Ве) 12. В̌ в̌ (Зве) 13. В̃ в̃ (Ве подовжене)
      14. Г г (Ге) 15. Г̌ г̌ (Зге) 16. Ґ ґ (Ґе) 17. Д д (Де) 18. Д̌ д̌ (Зде) 19. Д̃ д̃
      (Де подовжене) 20. Ꚁ ꚁ (Две) 21. Ԭ ԭ (Дче) 22. Ԫ ԫ (Дж) 23. Ԁ ԁ (Ді) 24. Ԃ
      ԃ (Дь) 25. Ꙉ ꙉ (Дже) 26. Ђ ђ (Джь) 27. Ꚉ ꚉ (Дз) 28. ꚃ ꚃ (Дзве) 29. Ꙃ ꙃ
      (Дзе) 30. Ꙁ ꙁ (Змі) 31. Ԇ ԇ (Дзь) 32. Ԅ ԅ (Зь) 33. Е е (Е) 34. Е̄ е̄ (Е
      подовжене) 35. Ё̄ ё̄ (Еє) 36. Ё ё (йо) 37. Є є (є) 38. Є̈ є̈ (Єю) 39. Ѥ ѥ (Є
      йотоване) 40. Э э (Ел) 41. Ӭ ӭ (Єл) 42. Э̆ э̆ (елв) 43. Ӭ̄ ӭ̄ (Єєв) 44. Ѣ ѣ
      (Ять) 45. Ꙓ ꙓ (Йотований Ять) 46. Ж ж (Же) 47. Ж̃ ж̃ (Же подовжене) 48. З з
      (Зе) 49. З̃ з̃ (Зе подовжене) 50. Ӡ ӡ (Зн) 51. Ꚅ ꚅ (Зже) 52. Ꚅ̆ ꚅ̆ (Зжве) 53.
      И и (И) 54. Ӥ ӥ (Иї) 55. Ӣ ӣ (И подовжене) 56. Ѵ ѵ (Ир) 57. Ѷ ѷ (Ір) 58. І
      і (І) 59. Ꙇ ꙇ (Йота) 60. Ī ī (І подовжене) 61. Ҩ ҩ (Іо) 62. Ї ї (Ї) 63. Ї̄
      ї̄ (Її) 64. Й й (Йот) 65. Й̵ й̵ (Ий) 66. Ҋ ҋ (Ій) 67. ј (Й) 68. К к (Ка) 69.
      Ѯ ѯ (Ксі) 70. Ҁ ҁ (Коппа) 71. Ԛ ԛ (Кю) 72. Л л (Ел) 73. Л̃ л̃ (Ел подовжене)
      74. Ԕ ԕ (Лха) 75. Љ љ ԉ (Ль) 76. М м (Ем) 77. Н н (Ен) 78. Н̃ н̃ (Ен
      подовжене) 79. Ҥ ҥ (Нге) 80. Њ њ ԋ (Нь) 81. О о (О) 82. О̆ о̆ (Ов) 83. Ѻ ѻ
      (Ог) 84. Ꙕ ꙕ (Оі) 85. Ӧ̄ ӧ̄ (Ойо) 86. Ꙩ ꙩ (Ок) 87. Ꚛ ꚛ (Окр) 88. О̄ о̄ (О
      подовжене) 89. Ꙫ ꙫ (Оч) 90. Ꚙ ꚙ (Очо) 91. Ꙭ ꙭ (Дво) 92. ꙮ (О
      багатоокулярне) 93. Ꙋ ꙋ (Оу) 94. І̵Ꙋ І̵ꙋ (Йотовоне Оу) 95. Ө ө (Оє) 96. Ӫ ӫ
      (Ює) 97. Ө̆ ө̆ (Оєв) 98. Ѡ ѡ (Омега) 99. Ѿ ѿ (От) 100. П п (Пе) 101. Ѱ ѱ
      (Псі) 102. Р р (Ер) 103. Р̌ р̌ (Зре) 104. Р̃ р̃ (Ер подовжене) 105. Ԗ ԗ (Рха)
      106. С с (Ес) 107. С̃ с̃ (Ес подовжене) 108. Ԍ ԍ (Сь) 109. Ѕ ѕ (Сте) 110. Т
      т (Те) 111. Т̃ т̃ (Те подовжене) 112. Т̌ т̌ (Зте) 113. Ꚍ ꚍ (Тве) 114. Ꚑ ꚑ (Tc)
      115. Ҵ ҵ (Тц) 116. Ᲊ ᲊ ԏ (Ть) 117. У у (У) 118. У̊  у̊ (Уо) 119. Ў ў (Ув)
      120. Ӯ ӯ (У подовжене) 121. Ӱ̄ ӱ̄ (Ую) 122. Ф ф (Еф) 123. Ѳ ѳ (Фіта) 124. Х
      х (Ха) 125. Х̌ х̌ (Зхе) 126. Һ һ (Шха) 127. Ꚕ ꚕ (Хва) 128. Ц ц (Це) 129. Ц̌ ц̌
      (Зце) 130. Ц̃ ц̃ (Це подовжене) 131. Ꚏ ꚏ (Цве) 132. Ꙡ ꙡ (Обернене Це) 133. Џ
      џ (Чже) 134. Ч ч (Ча) 135. Ꚇ ꚇ (Чче) 136. Ҽ ҽ (Чка) 137. Ҿ ҿ (Чна) 138. Ћ
      ћ (Чь) 139. Ш ш (Ша) 140. Ш̃ ш̃ (Ша подовжене) 141. Ꚗ ꚗ (Шве) 142. Щ щ (Ща)
      143. Ъ ъ (Ер) 144. Ъ̄ ъ̄ (Еер) 145. Ъ̈ ъ̈ (Єр) 146. Ъ̈̄ ъ̈̄ (Єер) 147. Ы ы (Ил)
      148. ы̆ (Ил з краткою) 149. Ꙑ ꙑ (ив) 150. ь (М'який знак) 151. ҍ
      (Напівм'який знак) 152. ꙏ (Нейтральний знак) 153. Ѧ ѧ (Юс Малий) 154. Ѩ ѩ
      (Юс Малий Йотований) 155. Ѫ ѫ (Юс Великий) 156. Ѭ ѭ (Юс Малий Йотований)
      157. Ꙙ ꙙ (Закритий Юс) 158. Ꙝ ꙝ (Юс Закритий Йотований) 159. Ꙛ ꙛ (Змішаний
      Юс) 160. Ꙟ ꙟ (Ин) 161. Ю ю (Ю) 162. Ю̄ ю̄ (Ю подовжене) 163. Ю̆ ю̆ (Юв) 164. Я
      я (Я) 165. Я̄ я̄ (Я подовжене) 166. Ԙ ԙ (Яє) 167. ӏ (Палочка) 168. '
      (Апостроф)
    </div>

    <script>
      const text = document.getElementById('alphabet');
      const newText = text.innerText.replaceAll(') ', ') \n');
      text.innerText = newText;
    </script>
  </body>
</html>
