<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/translate/translate.css" />
    <title>Перекласти на мою мову</title>
  </head>

  <%- include('../partials/header.ejs') %>
  
  <body>
    <form action="/ssr/translate" method="post" class="form">
      <label for="text">Введіть текст:</label>
      <textarea name="text" id="text"> <%= text || ''%> </textarea>
    
      <button type="submit" id="submit">Перекласти!</button>
    </form>
    <section class="translatedText">
      <% if (translatedText) { %>
        <div> <%= translatedText%> </div>
      <% } %>
    </section>
  </body>
</html>
